secrets
secrets.yaml
webostv.conf
home-assistant.log
.cloud
.storage
.vscode
*.db
home-assistant_v2.*
esphome
deps
tts
include/lights.yaml
include/integrations/light.yaml
include/vacuum.yaml
include/automations-temp